doctype html
html
  head
    title Animal Census
    link(rel='stylesheet' href='/bower_components/bootstrap/dist/css/bootstrap.css')
    link(rel='stylesheet' href='/css/style.css')
    //- link(rel="stylesheet", href="/stylesheets/app.css") 
    link(rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.4/semantic.min.css")
    
    block head
      script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js")
      script(src='/js/main.js')
      
  body
    .container-fluid
      .row.nav_area
        #logo.col-md-offset-1.col-md-2
          img(src='/images/logo-top.gif')
        .col-md-offset-1.col-md-2.main_nav_link
          a(href="#invitation_area") INVITATION
        .col-md-2.main_nav_link
          a(href="#take_survey") TAKE THE SURVEY
        .col-md-2.main_nav_link
          a(href="#census_result") CENSUS RESULTS
        .col-md-2.main_nav_link
          a(href="#about_us") ABOUT US
    
    .container-fluid

      block content
      footer
        .row
          .col-md-offset-1.col-md-3
            p.footer_text Thank The Animals Census
            p.footer_text 268 Bush St., #3024
            p.footer_text San Francisco, CA 94104 USA
            p.footer_text <a href="mailto:#">thanktheanimalscensus@gmail.com</a>
          .col-md-4
            .bottom_social_area
              p#follow_us Follow us:
              

          img.col-md-3(src="images/logo-bottom.gif")
        .row
          .col-md-offset-1.col-md-10
            p#copyright 2018 Thank the Animals Census. All rights reserved. | Privacy Policy




 
    
    
