extends layout.pug

block append head
  script(src="https://www.kryogenix.org/code/browser/sorttable/sorttable.js")

block content
  #census_result
    p#second_page_title CENSUS RESULTS - INDIVIDUAL RESPONSES
    .row
      table.sortable
        thead
          tr
            th Number
            th Name / Pseudonym
            th Animal's Name
            th Species / Breed
            th Country
            th What do you want to thank you animal for?
            th Photo
            th Date
        tbody
          tr
            td 1
            td Dorian
            td Snow
            td Dog - Samoyed
            td USA
            td I want to thank Snow for his loyalty, pure love, playfulness and the way he would know things.
            td img(src="")
            td 2018/08/07
          tr
            td 2
            td Aorian
            td now
            td Samoyed
            td SA
            td want to thank Snow for his loyalty, pure love, playfulness and the way he would know things.
            td img(src="")
            td 2018/08/10
          tr
            td 3
            td orian
            td ow
            td og - Samoyed
            td Canada
            td nt to thank Snow for his loyalty, pure love, playfulness and the way he would know things.
            td img(src="")
            td 2017/12/15
      