/* semantic alert style */
.ui-alert-content{
  position: fixed;
  width: 360px;
  z-index: 2060;
}
.ui-alert-content-top-right{
  top: 20px;
  right: 20px;
}
.ui-alert-content-top-center{
  top: 20px;
  margin: 0 0 0 -180px;
  left: 50%;
}
.ui-alert-content-top-left{
  top: 20px;
  left: 20px;
}
.ui-alert-content-bottom-right{
  bottom: 0;
  right: 20px;
}
.ui-alert-content-bottom-center{
  bottom: 0;
  margin: 0 0 0 -180px;
  left: 50%;
}
.ui-alert-content-bottom-left{
  bottom: 0;
  left: 20px;
}
.ui-alert {
  opacity: 0;
  filter: alpha(opacity=0);
}
.ui-alert p{
  display: table;
}

/* census result svg style */

text {
  font: 10px sans-serif;
}


/* site style */
.clear{
  clear: both;
}

a{
  text-decoration: none;
}

.position_relative{
  position: relative;
}

.position_absolute{
  position: absolute;
}

.container-fluid{
  width: 80%;
}

.nav_area{
  margin-top: 20px;
}

.main_nav_link a{
  font-size: 23px;
  color: black;
  text-align: left;
}

.main_nav_link{
  margin-top: 30px;
}

#invitation{
  margin-top: 80px;
  border: 1px solid grey;
}

p#invitation_title{
  font-size: 40px;
  margin: -25px auto 0;
  background: white;
  width: 350px;
}

#invitation_content p{
  font-size: 25px;
}

#take_survey{
  background: url(../images/survey-background.jpg) no-repeat top center #302513;
  width: 100%;
  background-size: contain;
  padding: 30px;
  
}

#take_survey_title{
  font-size: 40px;
  color: white;
}

#survey_form{
  width: 100%;
  padding-top: 33%; 
  position: relative; 
}

.take_survey_subtitle{
  font-size: 30px;
  color: white;
}

.form_label{
  font-size: 20px;
  color: white;
}

.form_input{
  width: 100%;
  font-size: 25px;
}

#btn_submit, #btn_email{
  background: #af1a06;
  color: white;
  font-size: 30px;
  border: 5px outset #af1a06;
  box-shadow:#d6d1d1 0px 0px 20px 5px;
  padding: 3px 20px;
}

#census_result{
  background: #c1bb9d;
  padding-bottom: 40px;
}

#census_result_title{
  font-size: 40px;
}

#census_result_string{
  font-size: 25px;
  text-align: center;
}

#big_curly_brackets{
  font-size: 200px;
  color: #94542a;
  margin-top: -50px;
  opacity: 0.25;
  font-weight: bold;
}

#recommend_vote_string{
  font-size: 45px;
  color: #94542a;
}

.show_result{
  font-size: 25px;
  color: #94542a;
}

#about_us{
  background:#94542a;
  padding-top: 30px;
  padding-bottom: 40px;
}

#about_us_title{
  font-size: 45px;
  color: white;
  margin-bottom: 30px;
}

.about_us_content{
  font-size: 30px;
  color: white;
}

.about_us_content a{
  font-size: 30px;
  color: white;
}

#partners_title{
  font-size: 45px;
  margin: 30px 0;
}

.site_link{
  font-size: 30px;
  color: black
}

footer{
  background: black;
  padding: 50px 0 20px;
}

.footer_text, .footer_text a{
  color: white;
  font-size: 18px;
}

.bottom_social_area{
  width: 100%;
}

#follow_us{
  font-size: 23px;
  font-weight: bold;
  color: #aaaaaa;
}

.bottom_social_area{
  margin-left: 30px;
}

#copyright{
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold;
  color: #aaaaaa;
}

.census_area{
  margin-top: 50px;
}

img.question_area{
  height: 240px;
  top: 160px;
}

img.question_area.reverse_image{
  height: 240px;
  top: 160px;
  margin-left: -30px;
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.question_title{
  font-size: 55px;
  font-weight: bold;
  color: white;
  opacity: 0.25;
  top: 180px;
  left: 100px;
  max-width: 400px;
}

.question_content{
  font-size: 30px;
  color: white;
  top: 250px;
  left: 100px;
}

#breed_bubble{
  width: 600px;
  height: 600px;
  background: white;
  margin-left: -25px;
}

#word_chart{
  width: 630px;
  height: 500px;
  margin-left: 60px;
  background: white;
}

#world_map{
  width: 600px;
  height: 600px;
  background: white;
  margin-left: -25px;
}

.individual_response{
  font-size: 35px;
}

#latest_filename{
  display: none;
}

/* email modal style */

#modal_email{
  background: #302513;
  border: 2px solid white;
  height: 500px;
  color: white;
}

#email_input{
  color: black;
}


/* second page style */

#census_result.second_page{
  padding-top: 50px;
}

#second_page_title{
  font-size: 45px;
}

/* Sortable tables */

#table_detail{
  background: white;
}

thead th {
  cursor: pointer;
  background-color:#eee;
  color:#666666;
  font-weight: bold;
}

.col_no{
  width: 50px;
}

.col_name{
  width: 130px;
}

.col_animal{
  width: 100px;
}

.col_breed{
  width: 130px;
}

.col_country{
  width: 100px;
}

.col_comment{
  width: 250px;
}

.col_photo{
  width: 70px;
  height: 50px;
}

.col_date{
  width: 80px;
}

.img_table{
  width: 70px;
  height: 50px;
}